.topBar {
    position: absolute;
    background-color: lightblue;
    width: calc(100% - 272px);
    height: 47px;
    right: 0;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
}

.right_side {
    display: flex;
    gap: 10px;
}

.person {
    background-color: rgb(194, 194, 194);
    border-radius: 50px;
    padding: 0.2rem;
}

.menu {
    display: none;
}

@media only screen and (max-width: 500px) {
    .topBar {
        width: 100%;
    }

    .menu {
        display: block;
    }
}
