.surveyEmployee {
    background-color: white;
    text-align: left;
    padding: 24px 32px;
}

.space24 {
    width: 100%;
    height: 24px;
}

.oneLineTwoFields {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.userInformation {
    display: flex;
    align-items: center;
    gap: 35px;
}

.individualDetails {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.individualDetails24 {
    font-size: 20px;
    font-weight: bold;
}

.individualDetails14 {
    font-size: 14px;
    color: #6d727a;
    font-weight: bold;
}

.userDetailsRegular {
    font-weight: 400;
    padding-left: 10px;
}

.userDetailsId {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 20px;
    gap: 8px;
}

.individualDetailsBtn {
    background-color: #f2f4f8;
    padding: 0 15px;
    border-radius: 10px;
    font-size: 12px;
}

.employeeSurvey,
.userInformation {
    display: flex;
    align-items: center;
    gap: 35px;
}

.individualDetails {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.individualDetails24 {
    font-size: 20px;
    font-weight: bold;
}

.individualDetails14 {
    font-size: 14px;
    color: #6d727a;
    font-weight: bold;
}

.userDetailsRegular {
    font-weight: 400;
    padding-left: 10px;
}

.userDetailsId {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 20px;
    gap: 8px;
}

.individualDetailsBtn {
    background-color: #f2f4f8;
    padding: 0 15px;
    border-radius: 10px;
    font-size: 12px;
}

.employeeSurvey {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.individualSurvey {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.individualRight130 {
    min-width: 130px;
    text-align: left;
}

.individualDetails14regular {
    font-weight: 400 !important;
}

.FrameBoxes {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    gap: 15px;
}

.btnList {
    text-align: right;
}
