:root {
    --main-padding: 20px;
    --gap-large: 48px;
    --gap-medium: 30px;
    --gap-small: 5px;
    --font-family: "Roboto", sans-serif;
    --font-weight-normal: 400;
    --font-weight-bold: bold;
    --font-size-base: 16px;
    --font-size-small: 14px;
    --font-size-xsmall: 12px;
    --font-size-title: 20px;
    --font-size-subtitle: 18px;
    --border-color: #e5e6e8;
    --border-color-active: #001d6c;
    --border-color-question: #dde1e6;
    --background-color-light: #f2f4f8;
    --background-color-active: rgb(126, 126, 252);
    --background-color-inactive: white;
    --text-color-light: #697077;
    --btn-width: 116px;
    --btn-height: 48px;
}

.chart {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    gap: 20px;
    padding: 1rem;
}

.title16 {
    font-family: var(--font-family);
    font-size: var(--font-size-base);
    font-weight: var(--font-weight-bold);
}

.colorBlue {
    color: var(--border-color-active);
}
